.header{
    /* background-color:  #d8dbdc;     */
    padding: 10px;
}

body{
    font-family: 'Amiri', serif;
}

.landingPage{
    background-image: url("https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_960_720.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;    
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
.myImgHeader{    
    height: 50px;
    display: none;
}
 .thinkBg{    
    background-image: url("https://cdn.pixabay.com/photo/2017/07/10/23/35/globe-2491989_960_720.jpg");    
 }
  /* .list-group  .list-group-item {
    background-color:rgba(42, 46, 43, 0.201)
 } */
 a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

.TXTbG{
  
  background-color: #0000008c;
}


@media only screen and (min-width: 578px) {
    .cardHeight {
        height: 150px;
    }
    .cardHeight2 {
        height: 500px;
    }
    .myImg{
        display: none;
    }
    .myImgHeader{
        display: block;
    }
    .TXTbG{
      background-color: rgb(60 58 58 / 43%);
    }
  }

  .nonePoints{
    list-style-type: none;
  }

  .hrHeight{
    height: 4px;
    background-color: #696a6a;
  }